/*
ORIGINAL CSS FILE FOR SLATE: https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/slate/bootstrap.min.css

COLOUR LIST
darkAccent1 = '#2C2C2C' # dark gray, bgc (bar plot background)
darkAccent2 = '#5b5959' # pale gray
darkAccent3 = '#CFCFCF' # almost white
lightAccent1 = '#ECAB4C' # ocre
highlight1 = 'lightsteelblue'
highlight2 = 'cornflowerblue'

### TO-DO: incorporate dcc.Loading
*[data-dash-is-loading="true"]{
  visibility: hidden;
}
*[data-dash-is-loading="true"]::before{
  content: "Loading...";
  display: inline-block;
  color: #ECAB4C;
  visibility: visible;

/* ====== Custom tabs ====== 
.custom-tabs2 .nav-link {
  height: 95px;
  white-space: normal;
} */

.custom-label{
  background-color:#2C2C2C;
  border: 3px solid #CFCFCF;
}
.custom-tabs .nav-link {
  white-space: normal; /* allow the text to wrap */
  text-align: center;
}
.custom-tabs .nav-link span {
  display: inline-block; /* make sure the text doesn't overflow the tab */
}
.tab-content {
  border-radius: 8 px;
  border: 2px solid #ECAB4C;
}

/* ====== Dropdown ====== */
.Select-control{
  background-color: #CFCFCF;
  border-radius: 4px;
  border: 2px solid #ECAB4C;
  color: #2C2C2C;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 36px;
  overflow: hidden;
  text-align: center;
}

.is-open>.Select-control{
  background: #CFCFCF;
  border: 1px solid #ECAB4C;
}

.Select-menu-outer{
  background-color: #CFCFCF;
  color: #2C2C2C;
  border: 2px solid #ECAB4C;
  text-align: left;
}

.Select-value-label{
  color: #2C2C2C;
}

.Select-placeholder{
  color: black!important;
}

.is-focused .Select-input > input {
  cursor: text;
  color: #ECAB4C!important;
}

.Select--multi .Select-value {
  background-color: #CFCFCF;
  border-radius: 2px;
  border: 1px solid #2C2C2C;
  color: #ECAB4C;
  display: inline-block;
  font-size: .9em;
  line-height: 1.4;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top;
}

.has-value.Select--single>.Select-control .Select-value .Select-value-label{
color: #2C2C2C;
}

/* ====== Headers ====== */
.header2 {
  background-color:#2C2C2C;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-title2 {
  color: #ECAB4C;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

.header-logo {
    margin: 0 auto;
    text-align: center;
    max-width: 40px;
}

.header-title {
    color: #ECAB4C;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-description {
    color: #CFCFCF;
    margin: 4px auto;
    text-align: center;
    max-width: 600px;
}

/* ====== Radio groups ====== */
.radio-group .form-check {
    padding-left: 0;
}

.btn-group .btn.active {
  background-color: #ECAB4C;
}

.radio-group .btn-group > .form-check:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
  
.radio-group .btn-group > .form-check:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

.danger {
  background-color: #ebd4b0;
  color: black;
  border-left: 6px solid #ECAB4C;
  border-right: 6px solid #ECAB4C;
  border-radius: 5px;
  padding-left: 5px;
}

.nav-tabs .nav-link.active {
  background-color: #ECAB4C!important;
  color : #ECAB4C;
  font-weight: bold;
}

.accordion-button {
  background-color: #ECAB4C;
  color: white;
  font-size: xx-large;
  
}

.accordion-button:not(.collapsed) {
  font-size: xx-large;
}

.navbar .container{
  margin-left: 5px;
  margin-right: 40%;
}

.navbar-brand{
  margin-right: 50px;
  border-right: 0px;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  font-size: xx-large;
}

.danger2 {
  background-color: rgb(157, 246, 173);
  color: black;
  border-left: 6px solid rgb(8, 111, 27);
  border-radius: 5px;
  padding-left: 5px;
}

.lel p{
  margin-bottom: 0;
}

.lel a{
  color: black;
}

.lel2{
  background-color: indianred;
  background-image: none;
  border-radius: 20px;
  padding-bottom: 1px;
  padding-top: 1px;

}


code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  color: #ECAB4C;
  padding: 2px 4px;
}

/* Styling for inline code */
p code,
li code {
  padding: 2px 3px;
}